@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'ABeeZee', sans-serif;
}


:root {
    --color-bg: #fdfdfd;
    --color-texto: #333;
    --color-principal: #F44600;
    --color-blanco: #fdfdfd;
    --color-sombra: #b8b8b8;
}

.modo-oscuro {
    --color-bg: #000000;
    --color-texto: #fdfdfd;
    --color-sombra: rgba(78, 78, 78, 0.7);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--color-bg);
    color: var(--color-texto);
}


/* ------------ Sección del navegador ---------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;

}

.header.barra {
    background: var(--color-bg);
    box-shadow: 0 1.rem 1rem var(--color-sombra);
}

.logo {
    font-size: 2.5rem;
    color: var(--color-principal);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--color-blanco);
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.barra .navbar a {
    color: var(--color-texto)
}

.header.barra .navbar a.activo {
    color: var(--color-principal);
}

.navbar a.activo::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--color-blanco);
}

.header.barra .navbar a::before {
    background: var(--color-principal);
    opacity: .7;
}

#modoOscuro-icono {
    font-size: 2.4rem;
    color: var(--color-blanco);
    cursor: pointer;
}

.header.barra #modoOscuro-icono {
    color: var(--color-texto);
    opacity: .9;
}

/* Diseño del icono de inicio */
#icono-menu {
    font-size: 3.6rem;
    color: var(--color-texto);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}


/* ------------- Sección de Inicio ---------------- */

.inicio {
    display: flex;
    align-items: center;
}

.inicio .contenido-inicio {
    max-width: 44rem;
}

.contenido-inicio h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.contenido-inicio h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.contenido-inicio p {
    font-size: 1.6rem;
}

.contenido-inicio .redesSociales-logo a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--color-principal);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--color-sombra);
    font-size: 2rem;
    color: var(--color-principal);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.contenido-inicio .redesSociales-logo a:hover {
    background: var(--color-principal);
    color: var(--color-blanco)
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--color-principal);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--color-sombra);
    font-size: 1.6rem;
    color: var(--color-blanco);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--color-principal);
    border-color: var(--color-principal);
}

.inicio .contenido-profesion {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.inicio .contenido-profesion .profesion-logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio .profesion-logo .profesion {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-principal);
    transform: rotate(calc(360deg / 3 * var(--i)));
    transform-origin: 384px;
    background: var(--color-bg);
    padding: 13px 0;
}

.inicio .profesion-logo .profesion:nth-child(2) i {
    margin-right: 15px;
}

.inicio .profesion-logo .profesion:nth-child(4),
.inicio .profesion-logo .profesion:nth-child(6) {
    padding-bottom: 20px;
}

.inicio .profesion i {
    font-size: 3.8rem;
}

.inicio .profesion h3 {
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
}

.inicio .profesion-logo .circulo {
    width: 560px;
    height: 560px;
    border: 3px solid var(--color-principal);
    border-radius: 50%;
}

.inicio .contenido-profesion .cubrir {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--color-principal);
    border-right: 384px solid var(--color-principal);
    border-bottom: 384px solid var(--color-principal);
    border-left: 384px solid transparent;
}

.imagen-inicio img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55%;
    pointer-events: none;
}

/* PARTE DE DISEÑO SOBRE MI */
span {
    color: var(--color-principal);
}

.sobreMi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.imagen-sobreMi img {
    width: 40vw;
}

.titulo {
    font-size: 4.5rem;
    text-align: center;
}

.sobreMi h2 {
    text-align: left;
    line-height: 1.2;
}

.contenodo-sobreMi h3 {
    font-size: 2rem;
}

.contenodo-sobreMi p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


/* ------ PARTE DE DISEÑO SERVICIOS --------- */
.servicios h2 {
    margin-bottom: 5rem;
}

.servicios {
    min-height: auto;
    padding-bottom: 7rem;
}

.servicios .contenido-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
}

.contenido-servicios .logo-servicios {
    flex: 1 1 30rem;
    background: var(--color-bg);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 1rem .5rem var(--color-sombra);
    text-align: center;
    border-top: .6rem solid var(--color-principal);
    border-bottom: .6rem solid var(--color-principal);
    transition: .5s ease;
}

/*Animación contenido servicios*/
.contenido-servicios .logo-servicios:hover {
    box-shadow: 0 .1rem 2rem var(--color-sombra);
    transform: scale(1.02);
}

.logo-servicios i {
    font-size: 6rem;
    color: var(--color-principal);
}

.logo-servicios h3 {
    font-size: 2.2rem;
    transition: .5s ease;
    cursor: default;
}

.logo-servicios:hover h3 {
    color: var(--color-principal);
}

.logo-servicios p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}



/* Diseño sección contacto */
.contacto h2 {
    margin-bottom: 3rem;
}

.contacto form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contacto form .cuadro-texto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacto form .cuadro-texto input,
.contacto form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--color-texto);
    background: var(--color-bg);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--color-sombra);

}

.contacto form .cuadro-texto input {
    width: 49%;
}

.contacto form textarea {
    resize: none;
}

.contacto form .btn {
    margin-top: 2rem;
    cursor: pointer;
}


/* Diseño pie de cabeza */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--color-principal);
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--color-blanco);
}

.footer-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--color-blanco);
    border-radius: .8rem;
    border: .2rem solid var(--color-principal);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-icon a:hover {
    outline-color: var(--color-blanco);
}

.footer-icon a i {
    font-size: 2.4rem;
    color: #333;
}


/* ------------------------  PUNTOS DE INTERRUPCIÓN ------------------------ */
@media (max-width: 120px) {
    html {
        font-size: 55%;
    }

    .inicio .contenido-profesion {
        height: 85.8rem;
    }

    .inicio .contenido-profesion .profesion-logo {
        right: -12rem;
        height: 85.8rem;
    }

    .inicio .contenido-profesion .cubrir {
        right: -9rem;
    }
}


@media (max-width: 1024px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .inicio .contenido-portafolio .logo-portaafolio {
        right: -22rem;
    }
}


@media (max-width: 991px) {

    .navbar a:nth-child(1),
    .navbar a:nth-child(2),
    .navbar a:nth-child(3) {
        color: var(--color-principal);
    }

    .navbar a.activo::before {
        color: var(--color-principal);
        opacity: .7;
    }

    .inicio .contenido-inicio {
        max-width: 50rem;
    }

    .inicio .contenido-profesion .profesion-logo {
        right: -45rem;
    }

    .inicio .contenido-profesion .cubrir {
        right: -39.5rem;
    }

    .imagen-inicio img {
        display: none;
    }

    .servicios,
    .portafolio {
        padding-bottom: 7rem;
    }

    .contacto {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}



@media (max-width: 738px) {
    #icono-menu {
        display: block;
    }

    #modoOscuro-icono {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--color-texto);
        margin-bottom: .1rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--color-bg);
        border-top: .1rem solid rgb(0, 0, 0, .2);
        box-shadow: 0 .5rem rgb(0, 0, 0, .1);
        display: none;
    }

    .navbar.activo {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--color-texto);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2),
    .navbar a:nth-child(3) {
        color: var(--color-texto);
    }

    .navbar a.activo {
        color: var(--color-principal);
    }

    .navbar a::before {
        display: none;
    }

    .inicio {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .contenido-inicio h3 {
        font-size: 2.6rem;
    }

    .contenido-inicio h1 {
        font-size: 5rem;
    }

    .contenido-inicio .redesSociales-logo a {
        margin: 2.5rem .75rem 3rem;
    }

    .inicio .contenido-profesion {
        left: 0;
        width: 100%;
        height: 100%;
    }

    .inicio .contenido-profesion .profesion-logo {
        position: fixed;
        top: 60%;
        left: 50%;
        border-radius: 0;
        width: 100%;
        transform: translateX(-50%);
    }

    .inicio .profesion-logo .profesion {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .inicio .profesion-logo .profesion:nth-child(1) {
        transform: rotate(-90deg) translate (-120px, -210px);
    }

    .inicio .profesion-logo .profesion:nth-child(1) i {
        margin-right: 0;
    }

    .inicio .profesion-logo .profesion:nth-child(2) {
        transform: rotate(0deg) translate (0px, -335px);
    }

    .inicio .profesion-logo .profesion:nth-child(3) {
        transform: rotate(90deg) translate (-115px, -450px);
    }

    .inicio .profesion-logo .profesion:nth-child(3) {
        transform: rotate(90deg) translate (-115px, -450px);
    }

    .inicio .profesion-logo .profesion:nth-child(4) {
        transform: rotate(180deg) translate (-220px, -335px);
    }

    .inicio .profesion-logo .circulo {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .inicio .contenido-profesion .cubrir {
        position: fixed;
        top: 65rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .sobreMi {
        flex-direction: column-reverse;
        text-align: center;
    }

    .contenodo-sobreMi h2 {
        text-align: center;
    }

    .imagen-sobreMi img {
        width: 70vw;
        margin-top: -2rem;
    }

    .servicios h2,
    .portafolio h2 {
        margin-bottom: 3rem;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}



@media (max-width: 617px) {
    .portafolio .contenido-portafolio {
        grid-template-columns: 1fr;
    }
}



@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .inicio {
        padding: 0 3% 30rem;
    }

    .contacto form .cuadro-texto input {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}


@media (max-width: 365px) {
    .imagen-sobreMi img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}